name: "Reusable: cloud-event-proxy CI"
on:
  workflow_call:

jobs:
  golangci:
    name: Linting
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: pkg/cloud-event-proxy
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: tidy
        run: go mod tidy
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
          args: --timeout 3m0s
          working-directory: pkg/cloud-event-proxy

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: pkg/cloud-event-proxy
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: tidy
        run: go mod tidy
      - name: Run Test Scripts
        run: |
          make gha
