name: "Reusable: linuxptp-daemon golangci-lint"
on:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    name: Run GolangCI-Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkg/linuxptp-daemon

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24

      - name: lint test
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          working-directory: pkg/linuxptp-daemon
