name: "linuxptp-daemon: Push image on merge to main"
on:
  push:
    branches:
      - main
    paths:
      - 'pkg/linuxptp-daemon/**'

permissions:
  contents: read
  packages: write

jobs:
  push-image:
    uses: ./.github/workflows/_reusable-linuxptp-daemon-image-push.yml
    secrets: inherit
